/***********************************************/
/* stylesheet.css                              */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/
#question { text-transform: capitalise; }

body{
	font-family: Calibri, Arial, sans-serif;
	color: #333333;
	line-height: 1.166;
	margin: 0px;
	padding: 0px;
	background:  url(handprint_background2.png) fixed;
	font-size: 20px;

	/*Stops backround appearing tiled*/
	background-size: cover;
	/*Make sure the background does not tile or repeat:*/
	background-repeat: no-repeat;
	/*If I dont want the background to scroll
	background-attachment: fixed;*/
}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/
.container{
	position:relative;
	/*height: 681px;*/
	height: 100%;
	background-color: #ffffff;
	/*width: 650px;*/
	/*The calc helps me create the width in a way it start off with 100% but due to the margin it will equally distribute the 2 sides
	if I didn't have the margin set it will take 70px off the right*/
	width: calc(100% - 70px);
  margin: 35px 35px 35px 35px;
	border-radius: 10px;
	padding: 10px;
}

/* Name of website*/
.masthead{

}

/* Content - questions/text*/
.content {
	position: relative;
	padding: 20px;
  /*width: 481px;*/
  top: 10%;
	text-align:justify;
	font-size: 4vh;
	margin: 10px;

	/*Add animation to the speech box so it rotates 360 degrees*/
	/*transform: rotate(0deg);
	transition: transform 2s;*/

	border-color: #000000;
	border: 8px solid #666;
	border-radius: 60px;
	box-shadow: 2px 2px 4px #888;
	/*float: left;*/
}

.content:hover
{
	/*Rotates the speech box when you hover over it*/
	transform: rotate(360deg);
}

/*Before and after pseudo code helps to display a border radius that had a transaparent triangle*/

.content:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: -50px;
	top: 56px;
	/*top: 300px;*/
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}

.content:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: -30px;
	top: 64px;
	border: 20px solid;
	border-color: white transparent transparent white;
}

/*DIV to help centre the layout of the website*/
.main-content{
	margin-left: auto;
	margin-right: auto;
}

/* Display layout for the submit button*/
.submit{
	padding: 10px;
}

/* Make the image and the speech box float on the page together so that they remain together*/
.question-area{
	/*float: left;*/
	padding-right: 258px;
	position: relative;
}

/*The custom alert message based on the user's input*/
#msgBox{
	width: 12em;
	position: fixed;
  top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
	font-size: 200%;
	border-radius: 1em;
	padding: 1.5em;
	background: #dddddd;
}

#closeMsg{
	position: fixed;
  top: 70%;
	left: 50%;
  transform: translate(-50%, -50%);
}

#backgroundMsgBox{
	background-color: grey;
	width: 100%;
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	display: none;
	opacity: 0.9;
		/*using view port saves you specifying the percentage of the body and html tags as if you do this you have to specify each parent*/
}

/************** pageName styles ****************/

.pageName{
	padding: 0px 0px 14px 10px;
	/**margin: 0px;
	border-bottom:1px solid #ccd2d2;*/
}

.pageName h2{
	font: bold 175% Arial,sans-serif;
	color: #000000;
	margin:0px;
	padding: 0px;
}

/***********************************************/
/* Component Divs                              */
/***********************************************/
.siteName{
	margin: 0px;
	padding: 16px 0px 8px 16px;
	color: black;
	font-weight: bold;
}


/************** image-container styles *****************/

.image-container{
	position: absolute;
	padding: 10px 10px 10px 10px;
	float: left;
	top: 0px;
	right: 0px;
}




/************** siteInfo styles ****************/

.siteInfo{
	position: relative;
	clear: both;
	border-top: 1px solid #cccccc;
	font-size: small;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
/**	margin-top: 0px;*/
}

.siteInfo img{
	padding: 4px 4px 4px 0px;
	vertical-align: middle;
}

/******* hyperlink and anchor tag styles *******/

a:link, a:visited{
	color: #005FA9;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/************** header tag styles **************/

h1{
 font: bold 120% Calibri, Arial,sans-serif;
 color: #334d55;
 font-size: 4vw;
}

h2{
 font: bold 114% Calibri, Arial,sans-serif;
 color: #006699;
 font-size: 3vw;
}

h3{
 font: bold 100% Calibri, Arial,sans-serif;
 color: #334d55;
 font-size: 2vw;
}

h4{
 font: 100% Calibri, Arial,sans-serif;
 color: #333333;
}

h5{
 font: 100% Calibri, Arial,sans-serif;
 color: #334d55;
}


/********* form and related tag styles *********/

/*to be deleted now that I have bootstrap text box*/
input{
	font-family:  Calibri, Arial,sans-serif;
	font-size: 120%;
	border: 1px;
	border-style: solid;
	padding: 12px;
}

.important{
	font-weight: bold;
}

.starArray{
	display: none;
	width:400px;
	height: 400px;
	background-image: url('star.png');
	margin: 12px;
}

/***********************************************/
/* Button styles                              */
/***********************************************/
.generalBtn{
	font-size: 20px;
	border: 0;
	border-radius: 20px;
	line-height: 40px;
	background-color: #15978E;
	color: #FFF;
	padding: 0 15px;

}

.generalBtn:hover{
	background-color: #106963;
}

.submitBtn{
	margin-right: 10px;
}



/***********************************************/
/* Media queries                              */
/***********************************************/
@media (min-width: 768px)
.container {
    width: calc(100% - 70px);
}

.nav {
    padding-left: 0;
    margin-bottom: 11px;
    list-style: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #337ab7;
}
.nav-pills>li>a {
    border-radius: 4px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

 /*input area
.form-control {
    display: block;
    width: 100%;
    height: 38px; //38px
    padding: 6px 12px;
		font-size: 4vh;  //font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}*/
